

<script src="~/Content/vendors/jquery/jquery-3.2.1.min.js"></script>
<link href="~/Content/css/defaultSize.css" rel="stylesheet" />

<section class="hero-banner">
      <div class="container">
        <div class="row no-gutters align-items-center pt-60px">
          <div class="col-5 d-none d-sm-block">
            <div class="hero-banner__img">
              <img class="img-fluid" src="~/Anh%20meo/Meo_anh_long_ngan/14.jpg" alt="" style="width:500px;height:400px">
            </div>
          </div>
          <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
            <div class="hero-banner__content">
              <h4>Shop is fun</h4>
              <h1>Cats are cosmic champions</h1>
              <p>Tôi nhận ra rằng mỗi khi tôi mất một chú mèo, nó mang đi theo một mảnh tim tôi, và mỗi chú mèo mới đến với tôi lại tặng tôi một mảnh tim mình. Nếu tôi sống đủ lâu, tất cả tim tôi sẽ trở thành chúng, và tôi sẽ trở nên hào phóng và đầy yêu thương như chúng.</p>
              <a class="button button-hero" href="#">Browse Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>

<script>

    $('.img-fluid').each(function (e) {
        
    });
</script>